@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color:#614a99;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    letter-spacing: 3px;
}

.navigation a{
    color: #705ca4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #4e3f86;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color:#6c757d;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #705ca4;
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 1.7px;
}

.main h3 {
    color:#6c757d;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #705ca4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1.5px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #554588;
    transform: scale(1.1);
}

.social-icons a {
    color:#6c757d;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: #705ca4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.about {
    width: 100%;
    text-align: center;
    padding: 50px 10%;
}

.about-parent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.about-img {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

.about-img img {
    width: 100%;
    max-width: 500px; 
}

.about-parag {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    text-align: left;
}
.about-parag p {
    font-size: 18px; 
    line-height: 1.6; 
    color: #333; 
    font-weight: 400; 
    text-align: justify; 
}
.about-parag p strong {
    color: #705ca4; 
    font-weight: 600;
}
.about-parag button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color:#f0f0f06c;
    color: #7e64c1;
    border: 2px #624f94 solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1.5px;
    transition: 0.3s;
}
.about-parag button:hover {
    background-color: #7e64c1;
    color: white;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border: 2px rgba(128, 128, 128, 0.403) solid;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #717071;
    font-size: 3em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #705ca4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects , .about{
    background-color: #f0f0f06c;
}
.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #705ca4;
}

.more-details:hover {
    color:#614a99;
}

.contact .title {
    text-align: center;
    color: #705ca4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 15px;
}

.form-group.col-sm-6 {
    flex: 0 0 48%;
    max-width: 48%;
}

.form-group.col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.form-group.col-sm-12.mt-3 {
    display: flex;
    justify-content: center;
}
input:focus, textarea:focus
{
    border:2px #47327b solid;
    outline: none;
}
.btn {
    padding: 12px 20px;
    border: 2px #624f94 solid;
    border-radius: 10px ;
    background-color: #f3f2f686;
    color: #624f94;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color:  #705ca4;
    color: #fff;
}
.footer {
    background-color: #f0f0f0;
    color: #5c5c5c;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1em;
    font-weight: 600;
}

.footer-title span {
    color: #705ca4;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
    color:#6c757d;
}
.social-icons a:hover{
    color:#614a99;
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
    }
}